
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">KTCN-403A</a> 2021</p>
                <p>Distributed by <a href="" target="_blank">KTCN-403A</a></p> 
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->